body.light {
    background: #fff;
    color: #000000;
}

body.dark {
    background: #151c2d;
    color: #fff;
}

body.light #movie-card {
    background: #9faac4;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    #listWrapper {
        justify-content: center !important;
    }
}